<style>
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
    body {
        margin: 0;
        font-family: 'Heebo', sans-serif;
        display: flex;
        justify-content: center;
    }

    .wrap {
        z-index: 1;
    }

    img {
        width: {{.width}}px;
    }

    .snackbar {
        z-index: 555;
        padding: 20px 24px;
        background: rgba(0,0,0,.9);
        max-width: 282px;
        border-radius: 500px;
        display: none;
        align-items: center;
        position: absolute;
        top: 32px;
        z-index: 5555555;
        animation-duration: 0.6s;
        animation-timing-function: ease-in-out;
        animation-name: movein;
    }

    .message {
        color: #fff;
        line-height: 140%;
        font-weight: 500;
    }

    .icon_check {
        margin-right: 10px;
    }

    @keyframes movein {
        from{
        top: -62px;
        opacity: 0.5;
        }

        to {
        top: 32px;
        opacity: 1;
        }
    }

    @keyframes fadeout {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .fadeout {
        z-index: 555;
        padding: 20px 24px;
        background: rgba(0,0,0,.9);
        max-width: 282px;
        border-radius: 500px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 32px;
        z-index: 5555555;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-name: fadeout;    
    }

    .modal {
        display: none; /* Hidden by default */
	position: fixed;
        z-index: 1; /* Sit on top */
	margin: 0;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
	width: 100%;
	height: 100%;
    }

    /* Modal Content/Box */
    .modal-content {
	background: #fff;
        border-radius: 6px;
        padding: 24px;
        max-width: 400px;
        min-width: 300px;
        text-align: center;
    }

</style>
<script  src="https://code.jquery.com/jquery-latest.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-174304860-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-174304860-1');
</script>

<div class="snackbar" id="snackbar">
    <svg class="icon_check" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 5.55789C18 5.65874 17.9587 5.75534 17.8855 5.82588L7.43653 15.893C7.28845 16.0357 7.05168 16.0357 6.9036 15.893L2.11449 11.2789C2.04127 11.2084 2 11.1118 2 11.0109C2 10.9101 2.04127 10.8135 2.11449 10.7429L3.34224 9.56002C3.49019 9.41748 3.72671 9.41734 3.87484 9.5597L7.16987 12.7265L16.125 4.10688C16.2731 3.96433 16.5097 3.96438 16.6578 4.107L17.8855 5.28989C17.9587 5.36043 18 5.45703 18 5.55789Z" fill="#9A81FF"/>
    </svg>
    <span class="message">Copy PNG@2x completed!</span>
</div>

<div class="wrap">
    <img id="base64img" src='data:image/png;base64,{{.image}}' onclick='copy2xImg();' onmouseover="" style="cursor: pointer;">
</div>
<div id="popup" class="modal">
    <div id="popupBody" class="modal-content"></div>
</div>
<script type="text/javascript">
if(!localStorage["isFirst"]) {
    document.getElementById("popup").style.display = "flex";
}
$(document).ready(function(){
    $("#popupBody").load("dialog");
});
document.getElementById("base64img").click()

function closeDialog() {
    localStorage.setItem("isFirst", true)
    document.getElementById("popup").style.display = "none";
}

window.onclick = function(event) {
    if(document.getElementById("popup").style.display != "none") {
	    if(event.target == document.getElementById("closeBtn")) {
	    	closeDialog();
	    }
    }
}

function copy2xImg() {
    var imgElm = document.getElementById("base64img")
    // for copy
    var canvas = document.createElement("canvas")
    canvas.width = imgElm.clientWidth * 2;
    canvas.height = imgElm.clientHeight * 2;

    let context = canvas.getContext('2d');

    context.drawImage(imgElm, 0, 0);

    try {
	var blobURL = canvas.toDataURL("image/png")
	var blob = dataURItoBlob(blobURL)

        const item = new ClipboardItem({"image/png": blob });
	navigator.clipboard.write([item]).then(
	    () => {
	        var snackBarElm = document.getElementById("snackbar")
	        snackBarElm.style.opacity = "1"
	        snackBarElm.style.display = "flex"
	        snackBarElm.className = "snackbar"

                setTimeout(() => {
                    var snackBarElm = document.getElementById("snackbar")
                    snackBarElm.className = "fadeout"
                    snackBarElm.style.opacity = "0"
                }, 1500)
	    },
	    (err)=>{
		console.log(err)
	    }
	)
    } catch (error) {
        console.log(error)
    }
}

function dataURItoBlob(dataURI) {
    var byteString = atob(dataURI.split(',')[1]);
    var ab = new ArrayBuffer(byteString.length);
    var ia = new Uint8Array(ab);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }	
    return new Blob([ab], { type: 'image/png' });
}	
</script>
